In [9]:
# Dependencies
import pandas as pd
import numpy as np
import datetime
from datetime import datetime, timedelta
import requests
import json
import alpha_vantage
from config import apiKey
from alpha_vantage.timeseries import TimeSeries

def one_year_data(stock_ticker): 
    yesterday = datetime.strftime(datetime.now() - timedelta(1), '%Y-%m-%d')
    past_year = datetime.strftime(datetime.now() - timedelta(366), '%Y-%m-%d')
    

    url = "https://www.alphavantage.co/query?"
    query_url = f"{url}function=TIME_SERIES_DAILY&symbol={stock_ticker}&outputsize=full&apikey={apiKey}" 

    response = requests.get(query_url).json() 

    df = pd.DataFrame(response["Time Series (Daily)"]) 

    df_transposed = df.T # or df1.transpose()

    df_filtered = df_transposed[yesterday : past_year] 

    df_filtered.rename(columns={'4. close':'close', '3. low':'low', '2. high':'high', '5. volume':'volume'}, inplace=True)
    
    df_filtered.drop('1. open', axis=1, inplace=True)
    
    df_filtered = df_filtered[["close", "low", "high", "volume"]]
    
    
    return df_filtered  

one_year_data("AAPL")

/Users/addisonpietroburgo/anaconda3/envs/PythonData/lib/python3.6/site-packages/pandas/core/frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)
/Users/addisonpietroburgo/anaconda3/envs/PythonData/lib/python3.6/site-packages/pandas/core/frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

               close       low      high    volume
2019-03-22  191.0500  190.7800  197.6900  42269598
2019-03-21  195.0900  189.8100  196.3300  51034237
2019-03-20  188.1600  184.7300  189.4900  31035231
2019-03-19  186.5300  185.9200  188.9900  31646369
2019-03-18  188.0200  185.7900  188.3900  26219832
2019-03-15  186.1200  183.7400  187.3300  39042912
2019-03-14  183.7300  182.5600  184.1000  23579508
2019-03-13  181.7100  180.9200  183.3000  31032524
2019-03-12  180.9100  179.3700  182.6700  32467584
2019-03-11  178.9000  175.3500  179.1200  32011034
2019-03-08  172.9100  169.5000  173.0700  23999358
2019-03-07  172.5000  172.0200  174.4400  24796374
2019-03-06  174.5200  173.9400  175.4900  20810384
2019-03-05  175.5300  174.5400  176.0000  19737419
2019-03-04  175.8500  173.9700  177.7500  27436203
2019-03-01  174.9700  172.8900  175.1500  25886167
2019-02-28  173.1500  172.9200  174.9100  28215416
2019-02-27  174.8700  172.7300  175.0000  27835389
2019-02-26  174.3300  173.1732  175.3000  17070211
2019-02-25  174.2300  173.9500  175.8700  21873358
2019-02-22  172.9700  171.3800  173.0000  18913154
2019-02-21  171.0600  170.3000  172.3700  17249670
2019-02-20  172.0300  170.9900  173.3200  26114362
2019-02-19  170.9300  169.4900  171.4400  18972826
2019-02-15  170.4200  169.7500  171.7000  24626814
2019-02-14  170.8000  169.3800  171.2615  21835747
2019-02-13  170.1800  169.9200  172.4800  22490233
2019-02-12  170.8900  169.7000  171.0000  22283523
2019-02-11  169.4300  169.2500  171.2100  20993425
2019-02-08  170.4100  168.4200  170.6600  23819966
...              ...       ...       ...       ...
2018-05-03  176.8900  174.4411  177.5000  34068180
2018-05-02  176.5700  173.8000  177.7500  66539371
2018-05-01  169.1000  165.2700  169.2000  53569376
2018-04-30  165.2600  161.8400  167.2600  42427424
2018-04-27  162.3200  160.6300  164.3300  35655839
2018-04-26  164.2200  163.3700  165.7300  27963014
2018-04-25  163.6500  162.4100  165.4200  28382084
2018-04-24  162.9400  161.2201  166.3300  33692017
2018-04-23  165.2400  164.0900  166.9200  36515477
2018-04-20  165.7200  165.4300  171.2184  65491140
2018-04-19  172.8000  172.6600  175.3900  34808800
2018-04-18  177.8400  176.8800  178.8200  20754538
2018-04-17  178.2400  176.4100  178.9365  26605442
2018-04-16  175.8200  174.8301  176.1900  21578420
2018-04-13  174.7300  173.8500  175.8400  25124255
2018-04-12  174.1400  173.0400  175.0000  22889285
2018-04-11  172.4400  171.7000  173.9232  22431640
2018-04-10  173.2500  171.5300  174.0000  28614241
2018-04-09  170.0500  169.8450  173.0900  29017718
2018-04-06  168.3800  168.2000  172.4800  35005290
2018-04-05  172.8000  172.0800  174.2304  26933197
2018-04-04  171.6100  164.7700  172.0100  34605489
2018-04-03  168.3900  164.8800  168.7455  30278046
2018-04-02  166.6800  164.4700  168.9400  37586791
2018-03-29  167.7800  166.9000  171.7500  38398505
2018-03-28  166.4800  165.1900  170.0200  41668545
2018-03-27  168.3400  166.9200  175.1500  38962839
2018-03-26  172.7700  166.4400  173.1000  36272617
2018-03-23  164.9400  164.9400  169.9200  40248954
2018-03-22  168.8500  168.6000  172.6800  41051076

[252 rows x 4 columns]